<% include ./partials/header %>

<a href="/campgrounds">Campgrounds</a>
<br>
<a href="/campgrounds/new">New Campground</a>

<h1>Landing Page</h1>

<p>Welcome to YelpCamp</p>

<% include ./partials/footer %>